body {
    background-color: #000000;
    text-align: center;
}

#logo {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 50%;
    max-width: 200px;
}

.my-gallery {
    max-width: 1200px;
    margin: auto;
}

.image {
    display: inline-block;
    margin: 5px;
    width: 25%;    
}

.image-preview {
    width: 100%;
}